.row
  .col-xs-12
    Search Results For:
    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Eric
    
%hr.search-divider

- 1.times do
  .row
    - 3.times do
      .col-xs-4
        = image_tag '1.jpg', class: 'img-thumbnail img-selectable'

= render 'toolbar'