.alert.alert-success.alert-dismissable
  %button.close{"type" => "button", "data-dismiss" => "alert", "aria-hidden" => "true" } &times;
  You have successfully ... the photos
%h2 All Photos
%hr

- ['photos/hock1.jpg', 'photos/soccer1.jpg', 'photos/soccer2.jpg', 'photos/soccer3.jpg', 'photos/soccer4.jpg',
  'photos/h4.jpg', 'photos/h5.jpg', 'photos/pool1.jpg', 'photos/pool2.jpg',
  'photos/pool3.jpg', 'photos/pool4.jpg'].each_slice(3) do |imgs|
  .row
    - imgs.each do |img|
      .col-xs-4
        = image_tag img, class: 'img-thumbnail img-selectable'

= render 'toolbar'