.row
  .col-xs-12
    %h2 All Tags
    %hr
    
    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Eric
    
    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Soccer
    
    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Eric Birthday
    
    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Melody Piano

    %a.tag-link{'href' => '#'}
      %span.label.label-primary.search-term Melody