/ Top Navbar
%nav.navbar.navbar-inverse.navbar-fixed-top.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} H-Moments
  
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    / Search
    %form.navbar-form.navbar-left{role: "search"}
      .form-group
        - if request.original_url.include?('moments')
          %input.form-control{placeholder: "Search Moments", type: "text"}/
        - else
          %input.form-control{placeholder: "Search All Photos", type: "text"}/

      %a.btn.btn-default{href: "search"} Go
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          View Mode
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Thumbnail
          %li
            %a{href: "#"} Timeline
          %li
            %a{href: "#"} Slide Show
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Sort
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Time
          %li
            %a{href: "#"} Location
          %li
            %a{href: "#"} People